

blockquote p {
	font-style: italic !important;
    font-size: 1em !important;
	font-weight: 300 !important;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
	padding: 0.5em 0;
}

.frame {
	display: block;
	float: right;
	width: 300px;
	max-width: 45%;
	margin: 0;
	text-align: center;
	border: solid 1px white;
	padding: 0.5em;
}

@media (max-width:979px)
{
	.frame {
		width: 200px;
		max-width: 45%;
	}
	
	.frame p:last-child  {
		font-size: 0.8em;
	}
}

.frame.left {
	float: left;
}

.frame.right {
	float: right;
}

.frame img {
	width: 100%;
	margin: 10px;
}

.frame p:last-child {
	text-align: center;
	font-style: italic;
	border-bottom: 1px solid #ddd;
	display: inline-block;
}

blockquote { margin: 0 0 1em; }

.googlebadge {
	float:right;
	margin: -5px 0px 0px 0px;
	display: block;
}

@media (max-width: 979px) {
	.googlebadge {
		display:none;
	}
}

/* sticky footer copypasta */



      /* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }



      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      .container .credit {
        margin: 20px 0;
      }

    

/* STUFF Adam & Sage wrote, don't touch it's fucking MAGIC */

#content {
    margin-top: 50px;
}

/* fix for dropdown menus on mobile devices */
.dropdown-backdrop {
    position: static;
}

.MoveOneLine {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 7px 0;
}

div.MoveOneLine {
    margin-bottom: 10px;
}

div.MoveOneLine .last {
    margin-bottom: 0;
}

#stats td, #stats th {
    border: 1px solid #333; 
}

#stats th {
    background: #333;
    color: #fff;
}

.Example {
    font-style: italic;
    margin: 20px;
}

.ExampleDialogueFirstLine,
.ExampleDialogueLastLine,
.ExampleDialogue {
    font-style: italic;
    text-indent: -2em;
    margin-left: 2em;
}

.ExampleDialogueFirstLine {
    margin-top: 30px;
}

.ExampleDialogueLastLine {
    margin-bottom: 30px;
}

.InstructionsAfterHeader,
.Instructions {
    margin: 20px 0;
    font-weight: bold;
}

.InstructionsAfterHeader {
    margin-top: 10px;
}

@media only screen and (max-width: 979px) {
    #content {
        margin-top: 55px;
    }

    .navbar .brand {
        margin: 3px 0 0 5px;
    }

    .navbar-fixed-top {
        position: fixed;
    }

    .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
        padding: 0 20px;
    }

    .nav-collapse .nav {
        padding: 5px;
    }
}